<div id="abb__homeHero" class="abbHome__container">
	<button class="abbHome__btnClose" data-bs-dismiss="modal" style="align-self: end;">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" fill="rgba(255,255,255,1)">
			<path d="M10.5859 12L2.79297 4.20706L4.20718 2.79285L12.0001 10.5857L19.793 2.79285L21.2072 4.20706L13.4143 12L21.2072 19.7928L19.793 21.2071L12.0001 13.4142L4.20718 21.2071L2.79297 19.7928L10.5859 12Z"></path>
		</svg>
	</button>
	<div>
		<img class="homeHero__logo" src="apps/projets-biodiversite/img/logo_abb.png">
		<h1 class="my-3">Panorama des <br>
			<b>projets biodiversité</b>
			<br>en Bretagne
		</h1>
		<a class="abbHome__btn btn__white" data-bs-dismiss="modal">Accéder à la carte</a>
	</div>
	<a class="abbHome__linkArrow" style="align-self: center;" onclick="scrollToSection()">
		En savoir plus 
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" fill="rgba(255,255,255,1)">
			<path d="M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z"></path>
		</svg>
	</a>	
</div>
<div class="abbHome__partners">
		<a href="https://www.ofb.gouv.fr/" target="_blank"><img height="30px" src="apps/projets-biodiversite/img/abb_logo.png"></a>
		<a href="https://www.bretagne.bzh/" target="_blank"><img height="50px" src="apps/projets-biodiversite/img/ofb_logo.png"></a>
		<a href="https://biodiversite.bzh/" target="_blank"><img height="40px" src="apps/projets-biodiversite/img/rb_logo.png"></a>
</div>
<div id="abb__homeInfos" class="abbHome__container">	
    <div class="accordion-item">
        <div class="accordion-header active">
            <span>Visualiser les projets favorables à la biodiversité en Bretagne</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                <path d="M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z"></path>
            </svg>
        </div>
        <div class="accordion-content open">
			<p><strong>Bienvenue sur la carte "Panorama des projets biodiversité en Bretagne" ! </strong> </p>
			<p><strong>Explorez </strong>les projets territoriaux qui contribuent, chacun à leur échelle, à la préservation et à la restauration du vivant.  </p>
			<p><strong>Localisez et consultez </strong>ces actions<strong> </strong>qui témoignent des dynamiques locales portées par des acteurs publics, associatifs, éducatifs et économiques.  </p>
			<p>Fruit d’un partenariat entre la Région Bretagne, l’Office français de la biodiversité et l’Agence Bretonne de la Biodiversité, cette cartographie mutualise leurs données pour proposer un outil commun de connaissance et de valorisation des projets suivis, financés, accompagnés ou répertoriés par ces partenaires. </p>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header">
            <span>Que contient la carte ?</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                <path d="M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z"></path>
            </svg>
        </div>
        <div class="accordion-content">
			<p>Cette carte affiche des projets qui sont issus de <strong>dispositifs </strong>portés par la Région Bretagne, l’Office français de la biodiversité et l’Agenre Bretonne de la Biodiversité, en partenariat avec les territoires. </p>
			<p>Parmi eux figurent : </p>
			<ul>
			<li>les <strong>Atlas de la Biodiversité Communale et Intercommunale (ABC/ABI)</strong></li>
			<li>les projets de <strong>Trames vertes et bleues – continuités écologiques</strong></li>
			<li>les <strong>Contrats Nature territoriaux</strong></li>
			<li>les <strong>Aires éducatives (marines et terrestres)</strong></li>
			<li>les <strong>Solutions d’adaptation fondées sur la Nature</strong></li>
			<li>les <strong>Territoires Engagés pour la Nature</strong></li>
			</ul>
			<p>La carte intègre également des <strong>projets de recherche-action</strong>, ainsi que des <strong>projets liés à des stratégies ou plans d’action territoriaux</strong> qui participent à la <strong>connaissance, à la préservation et à la restauration de la biodiversité</strong> en Bretagne. </p>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header">
            <span>D'où proviennent les données ?</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                <path d="M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z"></path>
            </svg>
        </div>
        <div class="accordion-content">
			<p>Les données affichées sur la carte proviennent de <strong>sources partenariales fiables et régulièrement actualisées</strong> : </p>
			<ul>
			<li><strong><a href="https://www.ofb.gouv.fr/" target="_blank" class="abbHome__href">Office français de la biodiversité</a></strong> : données sur les <strong>Atlas de la Biodiversité Communale et Intercommunale</strong> </li>
			<li><strong><a href="https://www.bretagne.bzh/" target="_blank" class="abbHome__href">Région Bretagne</a></strong> : données liées aux projets de <strong>Trames vertes et bleues, Contrats Nature territoriaux </strong>et<strong> aux aires éducatives</strong> </li>
			<li><strong><a href="https://biodiversite.bzh/" target="_blank" class="abbHome__href">Agence Bretonne de la Biodiversité</a></strong> : données sur les <strong>Solutions d’adaptation fondées sur la Nature </strong>et <strong>territoires Engagés pour la Nature</strong> </li>
			</ul>
			<p>Les <strong>projets de recherche-action</strong> et les <strong>projets associés à des stratégies ou plans d’action</strong> sont <strong>recensés par opportunité par l’Agence Bretonne de la Biodiversité.</strong> </p>
			<p>Ces données sont centralisées et diffusées sur la plateforme GéoBretagne, garantissant leur cohérence, leur mise à jour régulière et leur accessibilité en open data. Elles constituent un socle commun de connaissance au service de tous les acteurs du territoire engagés pour la biodiversité. </p>
		</div>
    </div>
	<div class="accordion-item">
        <div class="accordion-header">
            <span>Comment naviguer dans l'application ?</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                <path d="M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z"></path>
            </svg>
        </div>
        <div class="accordion-content">
			<p>L’interface du <strong>Panorama des projets biodiversité en Bretagne</strong> a été conçue pour une navigation simple et intuitive, adaptée à tous les profils d’utilisateur·ices. </p>
			<p>Vous pouvez : </p>
			<p>🔍 <strong>Filtrer les projets</strong> selon le dispositif, la thématique ou le milieu naturel </p>
			<p>🗺️ <strong>Explorer la carte</strong> en <strong>zoomant manuellement</strong> ou en <strong>écrivant directement une commune ou une intercommunalité</strong> dans la barre de recherche </p>
			<p>📄 <strong>Cliquer sur un projet</strong> pour ouvrir sa fiche descriptive et consulter ses informations clés </p>
			<p>💬 <strong>Accéder aux retours d’expérience (RETEX)</strong> pour approfondir les démarches et s’inspirer d’exemples concrets </p>
			<p>📊 <strong>Exporter les résultats affichés</strong> sous différents formats — <strong>CSV</strong>, <strong>GeoJSON</strong> ou <strong>Excel</strong> — afin de réutiliser ou d’analyser la donnée dans d’autres outils </p>
			<p>Des<strong> </strong>infobulles et une aide à la navigation intégrée vous accompagnent tout au long de votre exploration pour une expérience fluide et conviviale.  </p>
		</div>
    </div>
    <div class="abbHome__highlightBox my-4">
        <h5>Contactez-nous ! </h5>
        <p>Vous avez mis en œuvre un projet favorable à la biodiversité en Bretagne et souhaitez le valoriser sur le Panorama ? </p>
		<p>Vous avez également des questions sur les projets ou besoin de plus d’informations ?</p>
        <a class="abbHome__btn btn__whiteOutline" href="mailto:maquestion@biodiversite.bzh" target="_blank">Contactez-nous</a>
    </div>
    <a class="abbHome__btn btn__black" data-bs-dismiss="modal">Accéder à la carte</a>
</div>
<script>
	function scrollToSection() {
	  const modalBody = document.querySelector('#help .modal-body');
	  const target = document.getElementById('abb__homeInfos');
	  // Calculer la position relative de la cible dans le conteneur scrollable
	  const topPos = target.offsetTop - modalBody.offsetTop;
	  modalBody.scrollTo({
	    top: topPos,
	    behavior: 'smooth'
	  });
	}

    const accordionHeaders = document.querySelectorAll(".accordion-header");

    accordionHeaders.forEach(header => {
        header.addEventListener("click", () => {
        const currentlyActive = document.querySelector(".accordion-header.active");

        // Fermer l’élément actuellement ouvert
        if (currentlyActive && currentlyActive !== header) {
            currentlyActive.classList.remove("active");
            currentlyActive.nextElementSibling.classList.remove("open");
        }

        // Ouvrir/fermer celui qu’on clique
        header.classList.toggle("active");
        header.nextElementSibling.classList.toggle("open");
        });
    });
</script>
<style>

/* Modal */
#help .modal-header {
	display: none;
}

#help .modal-body {
	max-height: 80vh;
	overflow-y: auto;
	padding: 0;
}

/* Hero */
#abb__homeHero {
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: space-between;
	height: 73vh;
	background-image: url("apps/projets-biodiversite/img/abb__homeBackground1.svg"), url("apps/projets-biodiversite/img/abb__homeBackground2.svg");
	background-position: right top, left bottom;
	background-repeat: no-repeat, no-repeat;
	background-size: 25em, 25em;
}

.xs #help .modal-body {
	max-height: 89vh;
}

.xs #abb__homeHero {
	height: 82vh;
	background-size: 18em, 18em;
}

.abbHome__container {
	padding: 3em;
}

.xs .abbHome__container {
	padding: 1.5em;
}

.homeHero__logo {
	width: 8em;
}

.xs .homeHero__logo {
	width: 6em;
}

.abbHome__btn {
	padding: 8px 10px;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.3s ease;
}

.btn__white {
	background-color: white;
	border: 2px solid white;
}

.btn__white:hover {
	background-color: transparent;
	color: white;
}

.abbHome__linkArrow {
	color: white;
	font-weight: 500;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.abbHome__linkArrow svg {
	transition: all 0.3s ease;
}

.abbHome__linkArrow:hover svg {
	transform: translateY(5px);
	opacity: .9;
}

.abbHome__btnClose {
	background: none;
	border: none;
}

.abbHome__btnClose svg {
	transition: transform 0.3s ease;
}

.abbHome__btnClose:hover svg {
	transform: rotate(90deg);
}

.xs .homeHero__partners {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

/* Content */

.abbHome__container .accordion-item {
	border-bottom: 2px solid #000000;
}

.abbHome__container .accordion-header {
	cursor: pointer;
	padding: 1em 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 700;
	font-size: large;
	transition: all 0.2s ease;
}

.abbHome__container .accordion-header svg {
	width: 30px;
	height: 30px;
	transition: transform 0.3s ease;
}

.abbHome__container .accordion-header.active svg {
	transform: rotate(180deg);
}

.abbHome__container .accordion-content {
	max-height: 0;
	overflow: hidden;
	transition: all 0.3s ease;
}

.abbHome__container .accordion-content.open {
	max-height: 1000px;
}

.abbHome__highlightBox {
	background-color: #0025FF;
	color: white;
	padding: 1em 1em 1.5em;
}

.btn__whiteOutline {
	border: 2px solid white;
	color: white;
}

.btn__whiteOutline:hover {
	background-color: white;
	color: #0025FF;
}

.btn__black {
	background-color: black;
	border: 2px solid black;
	color: white;
}

.btn__black:hover {
	background-color: transparent;
	color: black;
}

.abbHome__container .abbHome__href{
  position: relative;
}
.abbHome__container .abbHome__href::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background-color: #000000;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.abbHome__container .abbHome__href:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.abbHome__partners {
    padding: 0 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.abbHome__partners > a {
    margin: 0 0 0 10px;
}

.abbHome__partners > a:hover {
    opacity: .9;
}

.xs .abbHome__partners {
    padding: 0 1.5em;
    justify-content: center;
}

</style>