/* Desktop */

#filter-custom-component > .advancedFilter {
  background-color: #FFFFFF;
  display: none;
  text-align: left;
  position: fixed !important;
  top: 240px;
  left: 60px;
  padding: 1em;
  border-radius: var(--bs-border-radius);
  max-width: 300px;
  max-height: 90vh;
    overflow-y: auto;
  z-index: 1000 !important;
  box-shadow: 0px 0px 30px 3px rgba(200, 200, 200, 0.5);
}

/* Mobile */

#filterModal {
    z-index: 1500;
}

#filterModal #advancedFilter {
    display: block!important;
    top: auto !important;
}

#filterModal #advancedFilter-closeAll {
    display: none!important;
}

/* All */

.advancedFilter h2 {
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.advancedFilter .filter__title {
    max-width: 80%;
    line-height: 1.1;
}

.advancedFilter .bootstrap-tagsinput {
    width: 100%;
    font-size: .9em;
    border-radius: var(--bs-border-radius-sm);
    border: var(--bs-border-width) solid var(--bs-border-color);
    box-shadow: none;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.advancedFilter .bootstrap-tagsinput .dropdown-menu {
    font-size: .9em;
}

.advancedFilter .bootstrap-tagsinput .tag {
    background-color: var(--mv-color-primary);
    padding: 2px 7px;
    border-radius: 7px;
    margin-bottom: 2px;
}

.advancedFilter .filter-legend {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.advancedFilter .filterCheck__list {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.advancedFilter .filterCheck__list .form-check-label {
    display: inline;
    background-color: #EFEFEF;
    font-size: .8em;
    border-radius: 5px;
    padding: 3px 7px;
    line-height: 1.4;
    margin: 3px;
    color: #505050;
    transition: .3s;
}

.advancedFilter .filterCheck__list .form-check-label:hover {
  background-color: color-mix(in srgb, var(--mv-color-primary) 80%, rgba(255, 255, 255, 0));
  color: white;
  cursor: pointer;
}

.advancedFilter .filterCheck__list .form-check-label-checked{
  background-color: var(--mv-color-primary);
  color: white;
}

.advancedFilter .filterCheck__checkbox .form-check-label {
    font-size: .8em;
    line-height: 1.2;
    color: #505050;
}

#advancedFilter-clearAll:hover, #advancedFilter-closeAll:hover, .filter-clear:hover {
    cursor: pointer;
    opacity:.8;
}

.advancedFilter .download-section {
    margin-top: 1em;
    border-top: var(--bs-border-width) solid var(--bs-border-color);
    padding-top: 0.5em;
}

.advancedFilter .download-btn {
    margin-right: 5px;
    font-size: small;
}

/* Custom ABB */

#advancedFilter {
    font-size: 0.9em;
}

label.textlabel {
    font-weight: 600;
}

.advancedFilter .form-check-label {
    font-size: .75em!important;
    line-height: 1.3!important;
    margin: 2px!important;
    border-radius: 0!important;
}

.advancedFilter .filterCheck__list .form-check-label-checked {
    background-color: #0025FF;
}
.advancedFilter .filterCheck__list .form-check-label:hover {
  background-color: #0025FF;
}

.advancedFilter .download-btn {
    border-radius: 0;
    border: 2px solid;
    font-weight: 600;
    transition: all 0.3s ease;
}

.advancedFilter .download-btn:hover {
    border: 2px solid;
}

#abb__filterNumber {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #0025FF;
    color: white;
    margin: 1em 0;
    background-image: url("../../../img/abb_leaf1.png"), url("../../../img/abb_leaf2.png");
    background-position: right, left;
    background-repeat: no-repeat, no-repeat;
    background-size: 6em, 3em;
}

#abb__filterNumber .filterNumber__txt {
    font-size: 13px;
    line-height: 1.1;
    width: 80%;
    font-weight: 500;
}

#abb__filterNumber .filterNumber__number {
    font-size: 20px;
    font-weight: 600;
}


#filterModal #advancedFilter {
    font-size: 18px;
}

/*#page-content-wrapper:has(#right-panel.active) #advancedFilter {
	right: calc(var(--mv-rightpanel-size) + 5em)!important;
}*/
